PORT=8000
HOST=0.0.0.0

# MQTT Broker Central (Cloud)
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883

# ClickHouse DB
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=Clickhouse123!
CLICKHOUSE_DB=sauron

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
